.background-body{
    background-color: antiquewhite;
}

.cursor-click{
    cursor: pointer ;
}

#modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 12;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.linkImage {
    text-decoration: underline;
    color: blue;
}