{% extends "/layout/base.html.twig" %}

{% block mainClass %}main-centered{% endblock %}

{% block main %}

    <div>
        <h1>404 - Page introuvable</h1>
        <p>Désolé, la page que vous cherchez est introuvable.</p>
        <p>Veuillez vérifier l'URL et réessayer.</p>
    </div>

{% endblock %}