{% extends "/layout/base.html.twig" %}

{% block mainClass %}main-centered{% endblock %}

{% block main %}
        <div class="card">
            <div class="card-header">
                <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
            </div>
            <div class="card-body">
                {{ form | raw }}
            </div>
        </div>
{% endblock %}