{% extends "/layout/base.html.twig" %}

{% block main %}
<div class="d-flex flex-column align-items-center mt-5">
    <a href="/Post/add">
        <button class="btn btn-primary">Ajouter un article</button>
    </a>
    <select class="form-control mt-5" style="width: 15%;" id="selectCategory">
        <option value="0" selected>Tout</option>
        {% for category in categories %}
        <option value="{{ category.id }}">{{ category.name }}</option>
        {% endfor %}
    </select>
</div>
    <div class="d-flex flex-column align-items-center mt-5" id="listPost">
    </div>

    <div id="modal" class="d-none">
        <div class="modal-content">
            <img id="imageModal" src="" width="500px">
        </div>
    </div>

    <div id="overlay" class="d-none" onclick="closeImage()"></div>

{% endblock %}

{% block script %}

    <script>
        function onePost(id) {
            window.location = "/Post/onePost/" + id;
        }

        function showImage(image) {
            $("#imageModal").attr('src', '/img/posts/' + image);
            $("#modal").removeClass('d-none');
            $("#overlay").removeClass("d-none");
        }

        function closeImage(){
            $("#modal").addClass('d-none');
            $("#overlay").addClass("d-none");
        }

        $("#close-modal-button").click(closeImage());

        function listPostAjax(id = 0){
            $('#listPost').html('<div class="spinner-border" role="status"><span class="sr-only"></span></div>');
            $.ajax({
                url: "/Post/listPostAjax",
                type: "POST",
                data: {category: id},
                success: function(response) {
                    $('#listPost').html(response);
                }
            });
        }

        $('document').ready(function (){
            listPostAjax()
        });

        $("#selectCategory").change(function(){
            var selectedOption = $(this).val();
            listPostAjax(selectedOption)
        });


    </script>

{% endblock %}