{% extends "/layout/base.html.twig" %}

{% block main %}
    <div class="d-flex flex-column align-items-center mt-5">
        <a href="/Post/add">
            <button class="btn btn-primary">Ajouter un article</button>
        </a>
        <select class="form-control mt-5 select-category">
            <option value="0" selected>Tout</option>
            {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="d-flex flex-column align-items-center mt-5" id="listPost">
    </div>

{% endblock %}

{% block script %}

    <script>
        function onePost(id) {
            window.location = "/Post/onePost/" + id;
        }

        function showImage(image) {
            $("#imageModal").attr('src', '/img/post/' + image);
            $("#modal").removeClass('d-none');
            $("#overlay").removeClass("d-none");
        }

        function closeImage() {
            $("#modal").addClass('d-none');
            $("#overlay").addClass("d-none");
        }

        $("#close-modal-button").click(closeImage());

        function listPostAjax(id = 0) {
            $('#listPost').html('<div class="spinner-border" role="status"><span class="sr-only"></span></div>');
            $.ajax({
                url: "/Post/listPostAjax",
                type: "POST",
                data: {category: id},
                success: function (response) {
                    $('#listPost').html(response);
                }
            });
        }

        $('document').ready(function () {
            listPostAjax();
            $('.select-category').val('0');
        });

        $(".select-category").change(function () {
            var selectedOption = $(this).val();
            listPostAjax(selectedOption)
        });


    </script>

{% endblock %}