{% extends "/layout/base.html.twig" %}

{% block main %}

    <div class="d-flex flex-column align-items-center mt-5">
        <ul class="nav nav-tabs">
            <li class="nav-item border">
                <a class="nav-link text-dark border border-dark cursor-click active" data-toggle="tab" data-tab-value="#listModeratePost" id="postTabs" onclick="change(1)">Articles</a>
            </li>
            <li class="nav-item border">
                <a class="nav-link text-dark border border-dark cursor-click" data-toggle="tab" data-tab-value="#listModerateComment" id="commentTabs" onclick="change(2)">Commentaires</a>
            </li>
        </ul>
        <select class="form-control mt-5" style="width: 15%;" id="selectCategory">
            <option value="0" selected>Tout</option>
            {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="d-flex flex-column align-items-center mt-5 active ongletDiv" id="listModeratePost" data-tab-info>
    </div>

    <div class="d-flex flex-column align-items-center mt-5 d-none ongletDiv" id="listModerateComment" data-tab-info>
    </div>

    <div id="modal" class="d-none">
        <div class="modal-content">
            <img id="imageModal" src="" width="500px">
        </div>
    </div>

    <div id="overlay" class="d-none" onclick="closeImage()"></div>

{% endblock %}

{% block script %}

    <script>
        function onePost(id) {
            window.location = "/Post/onePost/" + id;
        }

        function onePostComment(id) {
            window.location = "/Comment/moderateComment/" + id;
        }

        function showImage(image) {
            console.log(image);
            $("#imageModal").attr('src', '/img/post/' + image);
            $("#modal").removeClass('d-none');
            $("#overlay").removeClass("d-none");
        }

        function closeImage() {
            $("#modal").addClass('d-none');
            $("#overlay").addClass("d-none");
        }

        $("#close-modal-button").click(closeImage());

        function listModeratePostAjax(id = 0) {
            $('#listModeratePost').html('<div class="spinner-border" role="status"><span class="sr-only"></span></div>');
            $.ajax({
                url: "/Post/listModeratePostAjax",
                type: "POST",
                data: {category: id},
                success: function (response) {
                    $('#listModeratePost').html(response);
                }
            });
        }

        function listModerateCommentPostAjax(id = 0) {
            $('#listModerateComment').html('<div class="spinner-border" role="status"><span class="sr-only"></span></div>');
            $.ajax({
                url: "/Post/listModerateCommentPostAjax",
                type: "POST",
                data: {category: id},
                success: function (response) {
                    $('#listModerateComment').html(response);
                }
            });
        }

        $('document').ready(function () {
            listModeratePostAjax();
            listModerateCommentPostAjax();
            $("#selectCategory").val('0');
        });

        $("#selectCategory").change(function () {
            var selectedOption = $(this).val();
            listModeratePostAjax(selectedOption),
                listModerateCommentPostAjax(selectedOption)
        });
    </script>

    <script type="text/javascript">
        function change(id){
            if (id === 1){
                $('#listModeratePost').addClass('active').removeClass('d-none');
                $('#listModerateComment').removeClass('active').addClass('d-none');
                $('#commentTabs').removeClass('active');
                $('#postTabs').addClass('active');
            }
            else{
                $('#listModeratePost').removeClass('active').addClass('d-none');
                $('#listModerateComment').addClass('active').removeClass('d-none');
                $('#postTabs').removeClass('active');
                $('#commentTabs').addClass('active');
            }
        }
    </script>

{% endblock %}