{% extends "/layout/base.html.twig" %}

{% block main %}
    <div class="container my-4">
        <div class="card mb-3">
            <div class="card-header">
                <h1>Confirmation de publication</h1>
            </div>
            <div class="card-body">
                <p>Voulez-vous vraiment publier cet article :</p>
                <div class="border border-secondary rounded p-3 mb-3">
                    {{ post.content }}
                </div>
                {{ form|raw }}
            </div>
        </div>
    </div>
{% endblock %}
