<!DOCTYPE html>
<html>
<head>
    {% block stylesheets %}
        <link href="/public/css/styles.css" type="text/css" rel="stylesheet">
    {% endblock %}
</head>
<body>
<header>

</header>
<main>

</main>
<footer>

</footer>
</body>
</html>